/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@keyframes burger-bar-anim-top {
  50% {
    top: 10px;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
    top: 10px;
  }
}
@keyframes burger-bar-anim-bottom {
  50% {
    top: 10px;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
    top: 10px;
  }
}
@keyframes burger-bar-anim-middle {
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
*::-moz-selection {
  background-color: #ff5d2a;
  color: white;
}
*::selection {
  background-color: #ff5d2a;
  color: white;
}

.goup-link {
  background-color: #ff5d2a;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: 0.5s;
  border-radius: 4px;
}
.goup-link:hover {
  background-color: #75c15b;
}

.header {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 3;
  background-color: #353535;
}
.header .navbar {
  background-color: transparent !important;
}
.header .navbar .header-nav-links {
  font-size: 15px;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.75;
  margin-bottom: 3px;
  transition: 0.1s ease-in;
}
.header .navbar .header-nav-links:hover {
  border-bottom: 3px solid #ff5d2a;
  margin-bottom: 0px;
}
.header .navbar .header-nav-links-selected {
  border-bottom: 3px solid #ff5d2a;
  margin-bottom: 0px;
}
.header .navbar .dropdown .pages-dropdown {
  left: 50%;
  transform: translateX(-50%);
}
.header .navbar .dropdown .dropdown-menu {
  margin-top: 20px;
  padding: 26px 20px !important;
}
.header .navbar .dropdown .dropdown-menu .header-dropdown-subtitles {
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.75;
  margin-bottom: 10px !important;
}
.header .navbar .dropdown .dropdown-menu .dropdown-item {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  width: 200px;
  padding: 14px 0px;
  padding-left: 5px;
}
.header .navbar .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}
.header .navbar .dropdown .dropdown-menu .dropdown-divider {
  margin: 0;
}
.header .navbar .header-burger {
  width: 30px;
  height: 30px;
  position: relative;
}
.header .navbar .header-burger .middle-line {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.header .navbar .header-burger .middle-line::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 30px;
  height: 2px;
  background-color: black;
}
.header .navbar .header-burger .middle-line:active::after {
  animation: burger-bar-anim-middle 0.5s ease-in forwards;
}
.header .navbar .header-burger::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 2px;
  background-color: black;
}
.header .navbar .header-burger::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 30px;
  height: 2px;
  background-color: black;
}
.header .navbar .header-burger:active::after {
  animation: burger-bar-anim-top 0.5s ease forwards;
}
.header .navbar .header-burger:active::before {
  animation: burger-bar-anim-bottom 0.5s ease forwards;
}
.header .navbar .header-menu-paragraph {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.75;
  color: #ffffff;
}

.offcanvas {
  width: 28.5% !important;
  max-height: 100%;
  overflow-y: auto;
}
.offcanvas h4 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.75;
}
.offcanvas p {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  width: 333px;
}
.offcanvas .offcanvas-carusel {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
}
.offcanvas .offcanvas-carusel a {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  font-weight: 900;
  transition: 0.5s;
  margin-top: 20px;
  transform: translate(-10px, 20px);
}
.offcanvas .offcanvas-carusel a:hover {
  background-color: #ff5d2a !important;
  color: white;
  border: 0;
}
.offcanvas .offcanvas-carusel .container {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
}
.offcanvas .offcanvas-carusel .container input[type=radio] {
  display: none;
}
.offcanvas .offcanvas-carusel .container .homepage-offcanvas-radio {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.offcanvas .offcanvas-carusel .container .homepage-offcanvas-radio::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #c4c4c4;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.offcanvas .offcanvas-carusel .container input[type=radio]:checked + .homepage-offcanvas-radio::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #ff5d2a;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.offcanvas .offcanvas-carusel .container .cards {
  display: block;
  position: relative;
  width: 100%;
  height: 275px !important;
  margin-bottom: 20px;
}
.offcanvas .offcanvas-carusel .container .card {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
  overflow: hidden;
}
.offcanvas .offcanvas-carusel .container .card div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  overflow: hidden;
  position: relative;
  transition: 0.5s ease-in;
}
.offcanvas .offcanvas-carusel .container .card p {
  font-size: 15px;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.75;
  transition: 1s;
  color: white;
  font-weight: 700;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  right: 15px;
  top: 15px;
  background-color: #ff5d2a;
  border-radius: 3px;
}
.offcanvas .offcanvas-carusel .container .card h4 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.75;
  transition: 1s;
  color: white;
  width: 200px;
  position: absolute;
  bottom: 50px;
  left: 20px;
}
.offcanvas .offcanvas-carusel .container .card:hover div {
  height: 70%;
}
.offcanvas .offcanvas-carusel .container .card:hover p {
  opacity: 0;
  transform: translate(0, -50px);
}
.offcanvas .offcanvas-carusel .container .card::after {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  position: relative;
  height: 0%;
  width: 100%;
  background-color: white;
  display: block;
  opacity: 0;
  transform: translate(-200px, 0);
  padding: 0 40px;
  top: 15px;
}
.offcanvas .offcanvas-carusel .container .card:hover::after {
  opacity: 1;
  transform: translate(0, 0);
}
.offcanvas .offcanvas-carusel .container .offcanvas-carusel-card-vegan div {
  background-image: url("../img/tour-2-258x273.jpg");
}
.offcanvas .offcanvas-carusel .container .offcanvas-carusel-card-vegan::after {
  content: "A healthier version of all cream-based soups.";
}
.offcanvas .offcanvas-carusel .container .offcanvas-carusel-card-bread div {
  background-image: url("../img/tour-3-258x273.jpg");
}
.offcanvas .offcanvas-carusel .container .offcanvas-carusel-card-bread::after {
  content: "Make your own Artisan Bread at home.";
}
.offcanvas .offcanvas-carusel .container .offcanvas-carusel-card-salad div {
  background-image: url("../img/tour-1-258x273.jpg");
}
.offcanvas .offcanvas-carusel .container .offcanvas-carusel-card-salad::after {
  content: "An easy-to-cook pea salad with pieces of cheese.";
}
.offcanvas .offcanvas-carusel .container #item-1:checked ~ .cards #song-3,
.offcanvas .offcanvas-carusel .container #item-2:checked ~ .cards #song-1,
.offcanvas .offcanvas-carusel .container #item-3:checked ~ .cards #song-2 {
  transform: translatex(-20%) scale(0.9);
  opacity: 0.4;
  z-index: 0;
}
.offcanvas .offcanvas-carusel .container #item-1:checked ~ .cards #song-2,
.offcanvas .offcanvas-carusel .container #item-2:checked ~ .cards #song-3,
.offcanvas .offcanvas-carusel .container #item-3:checked ~ .cards #song-1 {
  transform: translatex(20%) scale(0.9);
  opacity: 0.4;
  z-index: 0;
}
.offcanvas .offcanvas-carusel .container #item-1:checked ~ .cards #song-1,
.offcanvas .offcanvas-carusel .container #item-2:checked ~ .cards #song-2,
.offcanvas .offcanvas-carusel .container #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
.offcanvas .offcanvas-carusel .container #item-1:checked ~ .cards #song-1 img,
.offcanvas .offcanvas-carusel .container #item-2:checked ~ .cards #song-2 img,
.offcanvas .offcanvas-carusel .container #item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.homepage-main-carusel-section {
  position: relative;
}
.homepage-main-carusel-section .carousel-indicators {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 150px;
  transform: translateY(-50%);
  top: 50% !important;
  right: 0px !important;
  left: auto;
  bottom: auto;
  margin: 0;
}
.homepage-main-carusel-section .carousel-indicators .homepage-main-carusel-buttons {
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
  background-color: transparent;
  margin-bottom: 30px;
  border: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.homepage-main-carusel-section .carousel-indicators .homepage-main-carusel-buttons span {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  text-indent: 1px;
}
.homepage-main-carusel-section .carousel-indicators .homepage-main-carusel-buttons p {
  display: block;
  text-indent: 1px;
  font-size: 15px;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.75;
}
.homepage-main-carusel-section .carousel-inner .carousel-item img {
  height: 95vh !important;
}
.homepage-main-carusel-section .carousel-inner .carousel-item .carousel-caption {
  transform: translate(-50%);
  top: 20%;
  left: 50%;
  bottom: auto;
  right: auto;
}
.homepage-main-carusel-section .carousel-inner .carousel-item .carousel-caption h4 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.75;
  color: #fff;
  font-size: 38px;
  margin-bottom: 90px !important;
}
.homepage-main-carusel-section .carousel-inner .carousel-item .carousel-caption .main-title {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 70px;
  line-height: 1.75;
  font-weight: 400;
  font-size: 130px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: 0.1s;
}
.homepage-main-carusel-section .carousel-inner .carousel-item .carousel-caption .main-title:hover {
  text-shadow: 0px 0px 25px black;
}
.homepage-main-carusel-section .carousel-inner .carousel-item .carousel-caption .down-arrow-icon {
  background-color: #fff;
  border-radius: 50%;
  padding: 30px;
  position: relative;
}
.homepage-main-carusel-section .carousel-inner .carousel-item .carousel-caption .down-arrow-icon svg {
  color: #ff5d2a;
}
.homepage-main-carusel-section .carousel-inner .carousel-item .carousel-caption .down-arrow-icon::after {
  content: "";
  position: absolute;
  width: 76px;
  height: 77px;
  border-radius: 50%;
  border: 0.5px solid white;
  scale: 1.3;
  top: 0px;
  left: 0px;
  transition: 0.5s;
  opacity: 0.5;
}
.homepage-main-carusel-section .carousel-inner .carousel-item .carousel-caption .down-arrow-icon:hover::after {
  scale: 0.9;
  opacity: 0;
}
.homepage-main-carusel-section .carousel-inner .carousel-item .carousel-caption .down-arrow-icon::before {
  content: "";
  position: absolute;
  width: 76px;
  height: 77px;
  border-radius: 50%;
  border: 0.5px solid white;
  opacity: 0.5;
  scale: 1.6;
  top: 0px;
  left: 0px;
  transition: 0.5s;
}
.homepage-main-carusel-section .carousel-inner .carousel-item .carousel-caption .down-arrow-icon:hover::before {
  scale: 0.9;
  opacity: 0;
}

.homepage-popular-categories-section {
  height: 70vh;
  background-image: url(../img/bg-image-2.jpg);
}
.homepage-popular-categories-section a {
  width: -moz-fit-content;
  width: fit-content;
}
.homepage-popular-categories-section form {
  margin: 0;
}
.homepage-popular-categories-section form .col,
.homepage-popular-categories-section form .col-5 {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  padding: 30px 45px;
}
.homepage-popular-categories-section form i {
  color: white;
  font-size: 20px;
}
.homepage-popular-categories-section form input {
  width: -moz-max-content;
  width: max-content;
  margin-left: 20px;
  background-color: transparent;
  border: 0;
  outline: none;
  height: 38px;
  font-size: 20px;
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.75;
  color: white;
}
.homepage-popular-categories-section form input::-moz-placeholder {
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.75;
  color: white;
}
.homepage-popular-categories-section form input::placeholder {
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.75;
  color: white;
}
.homepage-popular-categories-section form a {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.75;
  font-weight: 900;
  color: black;
  transition: 0.2s ease-in;
}
.homepage-popular-categories-section form a:hover {
  background-color: #ff5d2a;
  color: white;
}
.homepage-popular-categories-section form a:hover i {
  color: white;
}
.homepage-popular-categories-section form a i {
  color: black;
}
.homepage-popular-categories-section .homepage-popular-categories-topbar {
  margin-top: 60px;
}
.homepage-popular-categories-section .homepage-popular-categories-topbar h6 {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.75;
  color: white;
  margin-bottom: 20px;
}
.homepage-popular-categories-section .homepage-popular-categories-topbar .custom-nav button {
  background: none;
  border: none;
}
.homepage-popular-categories-section .homepage-popular-categories-topbar .custom-nav a {
  font-size: 15px;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.75;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 4px;
  padding: 10px 23px;
  margin-left: 30px;
}
.homepage-popular-categories-section .owl-carousel .owl-stage {
  height: 240px;
  margin-top: 20px;
}
.homepage-popular-categories-section .owl-carousel .owl-carousel-items {
  height: 200px;
  border-radius: 8px;
  background-size: cover;
  padding: 15px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.homepage-popular-categories-section .owl-carousel .owl-carousel-items h3 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.75;
  font-weight: 700;
  width: -moz-max-content;
  width: max-content;
  color: white; /* Text color for contrast */
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
.homepage-popular-categories-section .owl-carousel .owl-carousel-items:hover {
  position: relative;
  transform: scale(1.1);
}
.homepage-popular-categories-section .owl-carousel .owl-carousel-items:hover h3 {
  bottom: 80px;
}
.homepage-popular-categories-section .owl-carousel .owl-carousel-items::after {
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: white;
  font-size: 190px;
  opacity: 0;
  transition: 1s;
  font-weight: 700;
}
.homepage-popular-categories-section .owl-carousel .owl-carousel-items::before {
  content: "20 Resipes";
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  bottom: 0px;
  color: #ff5d2a;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px;
  opacity: 0;
  transition: 0.5s;
}
.homepage-popular-categories-section .owl-carousel .owl-carousel-items:hover::before {
  opacity: 1;
  bottom: 30px;
}
.homepage-popular-categories-section .owl-carousel .owl-carousel-items:hover::after {
  position: absolute;
  font-size: 90px;
  opacity: 0.3;
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-1 {
  background-image: url(../img/destinations-3-363x260.jpg);
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-1::after {
  content: "Asian Food";
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-1::before {
  content: "22 Resipes";
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-2 {
  background-image: url(../img/destinations-8-363x260.jpg);
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-2::after {
  content: "Salads";
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-2::before {
  content: "20 Resipes";
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-3 {
  background-image: url(../img/destinations-1-363x260.jpg);
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-3::after {
  content: "Seafood";
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-3::before {
  content: "67 Resipes";
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-4 {
  background-image: url(../img/destinations-2-363x260.jpg);
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-4::after {
  content: "Pizzas";
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-4::before {
  content: "50 Resipes";
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-5 {
  background-image: url(../img/destinations-6-363x260.jpg);
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-5::after {
  content: "Cocktails";
}
.homepage-popular-categories-section .owl-carousel .homepage-popular-categories-carusel-item-5::before {
  content: "17 Resipes";
}

.latest-recipes-section {
  background-color: #f6f6f6;
  padding: 130px 0;
}
.latest-recipes-section h2 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 55px;
  line-height: 1.75;
  font-weight: 700;
}
.latest-recipes-section .latest-recipes-bottom-link {
  font-size: 15px;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.75;
  font-weight: 500;
  color: grey;
  position: relative;
  transition: 0.2s;
}
.latest-recipes-section .latest-recipes-bottom-link:hover {
  color: #ff5d2a;
}
.latest-recipes-section .latest-recipes-bottom-link::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background-color: grey;
  bottom: -10px;
  left: 50%;
  transition: 0.2s;
  transform: translateX(-50%);
}
.latest-recipes-section .latest-recipes-bottom-link:hover::after {
  background-color: #ff5d2a;
  width: 150px;
}
.latest-recipes-section .latest-recipes-cardwrapper {
  max-width: 1200px;
}
.latest-recipes-section .latest-recipes-cardwrapper .card {
  width: 360px;
}
.latest-recipes-section .latest-recipes-cardwrapper .card .card-body {
  position: relative;
}
.latest-recipes-section .latest-recipes-cardwrapper .card .card-body .latest-recipes-card-category-title {
  font-size: 15px;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.75;
  font-weight: 900;
  position: absolute;
  transform: translate(20px, -64px);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px 5px 0 0;
  text-transform: uppercase;
}
.latest-recipes-section .latest-recipes-cardwrapper .card .card-body a {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.75;
  transition: 0.5s;
  transform: translate(0px, -153px);
}
.latest-recipes-section .latest-recipes-cardwrapper .card .card-body a:hover {
  color: #ff5d2a;
}
.latest-recipes-section .latest-recipes-cardwrapper .card .card-body i {
  margin-top: 5px;
  color: #c4c4c4;
}
.latest-recipes-section .latest-recipes-cardwrapper .card .card-body p {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
}

.homepage-aboutme-section {
  padding: 130px 0px;
}
.homepage-aboutme-section .homepage-aboutme-image {
  background-image: url(../img/counter-img-719x609.png);
  height: 609px;
}
.homepage-aboutme-section h2 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 55px;
  line-height: 1.75;
  font-weight: 700;
}
.homepage-aboutme-section p {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
}
.homepage-aboutme-section span {
  color: #ff5d2a;
  font-family: "Unna", serif;
  font-size: 47px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.homepage-featuredrecipes-section {
  background-image: url(../img/bg-image-2.jpg);
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg {
  background-image: url(../img/bg-image-10.jpg);
  background-size: cover;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-corusel-box {
  position: relative;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-corusel-box .custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 2;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-corusel-box .custom-nav button {
  background-color: white;
  border-radius: 50%;
  padding: 23px;
  border: 0;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-corusel-box .homepage-featuredrecipes-carusel {
  padding: 20px;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-corusel-box .homepage-featuredrecipes-carusel .item .card {
  width: 500px !important;
  transform: translateX(60px) !important;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-corusel-box .homepage-featuredrecipes-carusel .item .card .card-body {
  padding: 30px 40px;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-corusel-box .homepage-featuredrecipes-carusel .item .card .card-body h4 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.75;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-corusel-box .homepage-featuredrecipes-carusel .item .card .card-body p {
  font-size: 15px;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.75;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 9px 16px;
  top: 30px;
  border-radius: 5px;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-titles {
  width: 515px;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-titles h2 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 55px;
  line-height: 1.75;
  font-weight: 700;
  color: white;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-titles p {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: white;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-titles a {
  font-size: 15px;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.75;
  color: black;
  background-color: white;
  transition: 0.5s;
  padding: 17px 50px;
  border-radius: 5px;
  font-weight: 900;
  width: -moz-fit-content;
  width: fit-content;
}
.homepage-featuredrecipes-section .homepage-featuredrecipes-section-double-bg .homepage-featuredrecipes-titles a:hover {
  color: white;
  background-color: #ff5d2a;
}

.homepage-freeoffer-section {
  background-image: url(../img/bg-image-9.jpg);
  background-size: cover;
  padding: 105px 0;
}
.homepage-freeoffer-section h4 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.75;
  color: #ff5d2a;
  text-align: center;
}
.homepage-freeoffer-section p {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
}
.homepage-freeoffer-section h2 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 55px;
  line-height: 1.75;
  font-weight: 700;
  text-align: center;
}
.homepage-freeoffer-section a {
  font-size: 15px;
  font-family: "Roboto", serif;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.75;
  background-color: #ff5d2a;
  color: white;
  transition: 0.5s;
  padding: 17px 30px;
  border-radius: 5px;
  font-weight: 900;
  width: -moz-fit-content;
  width: fit-content;
}

.homepage-information-section {
  padding: 139px 0;
}
.homepage-information-section h3 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.75;
  font-weight: 700;
}
.homepage-information-section a {
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.75;
}
.homepage-information-section a:hover {
  color: #ff5d2a;
}
.homepage-information-section h5 {
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.75;
}
.homepage-information-section p {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
}
.homepage-information-section .homepage-information-email-link {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.75;
  color: #ff5d2a;
}
.homepage-information-section i {
  font-size: 31px;
}
.homepage-information-section form {
  border: 1px solid #ff5d2a;
}
.homepage-information-section form input {
  width: 90%;
  outline: none;
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
}
.homepage-information-section form button {
  background-color: transparent;
}
.homepage-information-section form button i {
  color: #ff5d2a;
}

.contactus-page-top-section {
  padding: 150px 0px;
  background-image: url(../img/bg-image-5.jpg);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
}
.contactus-page-top-section .contactus-page-top-titles {
  max-width: 700px;
}
.contactus-page-top-section .contactus-page-top-titles h2 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 55px;
  line-height: 1.75;
  font-weight: 700;
  color: white;
}
.contactus-page-top-section .contactus-page-top-titles h5 {
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.75;
  color: white;
  text-align: center;
}
.contactus-page-top-section .contactus-page-top-titles svg {
  stroke: white;
}

.contactus-page-contact-information-section {
  padding: 105px 0px;
  background-color: #f6f6f6;
}
.contactus-page-contact-information-section h5 {
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.75;
}
.contactus-page-contact-information-section p {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
}
.contactus-page-contact-information-section a {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  font-size: 36px;
  font-weight: 600;
  color: black;
}

.contactus-page-getintouch-section {
  padding: 130px 0px;
}
.contactus-page-getintouch-section .contactus-page-getintouch-section-box {
  max-width: 1200px;
}
.contactus-page-getintouch-section .contactus-page-getintouch-section-box h3 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.75;
}
.contactus-page-getintouch-section .contactus-page-getintouch-section-box form input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.75;
}
.contactus-page-getintouch-section .contactus-page-getintouch-section-box form i {
  color: #ff5d2a;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 10px;
  margin-top: 11px;
}
.contactus-page-getintouch-section .contactus-page-getintouch-section-box form textarea {
  width: 100%;
  font-size: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.75;
  border: none;
  outline: none;
}
.contactus-page-getintouch-section .contactus-page-getintouch-section-box form button {
  background-color: #ff5d2a;
  color: #ff5d2a;
  text-decoration: none;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: white;
  font-weight: 900;
  padding: 13px 50px;
}
.contactus-page-getintouch-section .contactus-page-getintouch-section-box form button:hover {
  color: #dd3500;
}
.contactus-page-getintouch-section .contactus-page-getintouch-section-box form button:hover {
  background-color: #75c15b;
  color: white;
}

.footer {
  padding: 130px 0px;
  box-sizing: content-box;
  background-image: url(../img/bg-image-2.jpg);
  height: 30vh;
}
.footer i {
  font-size: 22px;
}
.footer h3 {
  color: #000000;
  font-family: "Unna", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.75;
  font-weight: 700;
  color: white;
}
.footer p {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: white;
  width: 330px;
}
.footer a {
  color: #353535;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
.footer a:hover {
  color: #ff5d2a;
}
.footer .footer-links {
  padding: 14px;
  display: flex;
}
.footer .footer-links:hover {
  background-color: #fff;
}
.footer .footer-links:hover i {
  color: #ff5d2a !important;
}

.goup-link {
  background-color: #ff5d2a;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: 0.5s;
  border-radius: 4px;
}
.goup-link:hover {
  background-color: #75c15b;
}