.header {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 3;
  background-color: #353535;

  .navbar {
    background-color: transparent !important;
    .header-nav-links {
      @include links;
      margin-bottom: 3px;
      transition: 0.1s ease-in;
      &:hover {
        border-bottom: 3px solid $color-orenge-light;
        margin-bottom: 0px;
      }
    }
    .header-nav-links-selected {
      border-bottom: 3px solid $color-orenge-light;
      margin-bottom: 0px;
    }

    .dropdown {
      .pages-dropdown {
        left: 50%;
        transform: translateX(-50%);
      }

      .dropdown-menu {
        margin-top: 20px;
        padding: 26px 20px !important;
        .header-dropdown-subtitles {
          @include Roboto-subtitles;
          margin-bottom: 10px !important;
        }

        .dropdown-item {
          @include paragraph;

          width: 200px;
          padding: 14px 0px;
          padding-left: 5px;

          &:hover {
            background-color: transparent;
          }
        }
        .dropdown-divider {
          margin: 0;
        }
      }
    }

    .header-burger {
      width: 30px;
      height: 30px;

      position: relative;

      .middle-line {
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 30px;

        &::after {
          content: "";
          position: absolute;
          top: 10px;
          width: 30px;
          height: 2px;
          background-color: black;
        }
        &:active::after {
          animation: burger-bar-anim-middle 0.5s ease-in forwards;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px;
        height: 2px;
        background-color: black;
      }
      &::before {
        content: "";
        position: absolute;
        top: 20px;
        width: 30px;
        height: 2px;
        background-color: black;
      }
      &:active::after {
        animation: burger-bar-anim-top 0.5s ease forwards;
      }
      &:active::before {
        animation: burger-bar-anim-bottom 0.5s ease forwards;
      }
    }
    .header-menu-paragraph {
      @include boild-text;
      color: #ffffff;
    }
  }
}
